.tabularmaps {display: grid;grid-template-columns: repeat(7, 1fr);}
.tabularmaps>div.JP-31 {grid-row-start: 1;grid-column-start: 3;}
.tabularmaps>div.JP-17 {grid-row-start: 1;grid-column-start: 4;}
.tabularmaps>div.JP-15 {grid-row-start: 1;grid-column-start: 5;}
.tabularmaps>div.JP-02 {grid-row-start: 1;grid-column-start: 6;}
.tabularmaps>div.JP-01 {grid-row-start: 1;grid-column-start: 7;}
.tabularmaps>div.JP-35 {grid-row-start: 2;grid-column-start: 1;}
.tabularmaps>div.JP-32 {grid-row-start: 2;grid-column-start: 2;}
.tabularmaps>div.JP-33 {grid-row-start: 2;grid-column-start: 3;}
.tabularmaps>div.JP-18 {grid-row-start: 2;grid-column-start: 4;}
.tabularmaps>div.JP-16 {grid-row-start: 2;grid-column-start: 5;}
.tabularmaps>div.JP-05 {grid-row-start: 2;grid-column-start: 6;}
.tabularmaps>div.JP-03 {grid-row-start: 2;grid-column-start: 7;}
.tabularmaps>div.JP-42 {grid-row-start: 3;grid-column-start: 1;}
.tabularmaps>div.JP-40 {grid-row-start: 3;grid-column-start: 2;}
.tabularmaps>div.JP-34 {grid-row-start: 3;grid-column-start: 3;}
.tabularmaps>div.JP-25 {grid-row-start: 3;grid-column-start: 4;}
.tabularmaps>div.JP-20 {grid-row-start: 3;grid-column-start: 5;}
.tabularmaps>div.JP-06 {grid-row-start: 3;grid-column-start: 6;}
.tabularmaps>div.JP-04 {grid-row-start: 3;grid-column-start: 7;}
.tabularmaps>div.JP-41 {grid-row-start: 4;grid-column-start: 1;}
.tabularmaps>div.JP-44 {grid-row-start: 4;grid-column-start: 2;}
.tabularmaps>div.JP-28 {grid-row-start: 4;grid-column-start: 3;}
.tabularmaps>div.JP-26 {grid-row-start: 4;grid-column-start: 4;}
.tabularmaps>div.JP-19 {grid-row-start: 4;grid-column-start: 5;}
.tabularmaps>div.JP-10 {grid-row-start: 4;grid-column-start: 6;}
.tabularmaps>div.JP-07 {grid-row-start: 4;grid-column-start: 7;}
.tabularmaps>div.JP-43 {grid-row-start: 5;grid-column-start: 1;}
.tabularmaps>div.JP-45 {grid-row-start: 5;grid-column-start: 2;}
.tabularmaps>div.JP-27 {grid-row-start: 5;grid-column-start: 3;}
.tabularmaps>div.JP-29 {grid-row-start: 5;grid-column-start: 4;}
.tabularmaps>div.JP-21 {grid-row-start: 5;grid-column-start: 5;}
.tabularmaps>div.JP-11 {grid-row-start: 5;grid-column-start: 6;}
.tabularmaps>div.JP-09 {grid-row-start: 5;grid-column-start: 7;}
.tabularmaps>div.JP-46 {grid-row-start: 6;grid-column-start: 1;}
.tabularmaps>div.JP-38 {grid-row-start: 6;grid-column-start: 2;}
.tabularmaps>div.JP-37 {grid-row-start: 6;grid-column-start: 3;}
.tabularmaps>div.JP-30 {grid-row-start: 6;grid-column-start: 4;}
.tabularmaps>div.JP-22 {grid-row-start: 6;grid-column-start: 5;}
.tabularmaps>div.JP-13 {grid-row-start: 6;grid-column-start: 6;}
.tabularmaps>div.JP-08 {grid-row-start: 6;grid-column-start: 7;}
.tabularmaps>div.JP-47 {grid-row-start: 7;grid-column-start: 1;}
.tabularmaps>div.JP-39 {grid-row-start: 7;grid-column-start: 2;}
.tabularmaps>div.JP-36 {grid-row-start: 7;grid-column-start: 3;}
.tabularmaps>div.JP-24 {grid-row-start: 7;grid-column-start: 4;}
.tabularmaps>div.JP-23 {grid-row-start: 7;grid-column-start: 5;}
.tabularmaps>div.JP-14 {grid-row-start: 7;grid-column-start: 6;}
.tabularmaps>div.JP-12 {grid-row-start: 7;grid-column-start: 7;}